.vampire-font-headers.en .sheet-banner, .vampire-font-headers.en .field-header, .vampire-font-headers.en .resource-header, .vampire-font-headers.en .item-header, .vampire-font-headers.en .specialty{
	font-family: "georgia";
}